;; shadow-cljs configuration
 {:source-paths
  ["src" "test"]

  :dependencies
  [[no.cjohansen/replicant "2025.06.21"]
   [metosin/malli "0.19.1"]
   [datascript "1.7.5"]
   [binaryage/devtools "1.0.7"]
   [com.rpl/specter "1.1.4"]
   [org.clojure/core.match "1.1.0"]
   [hiccup/hiccup "2.0.0"]
   [markdown-to-hiccup/markdown-to-hiccup "0.6.2"]
   [org.clojure/test.check "1.1.1"]]

  :dev-http {8080 "public"}

  :nrepl {:port 55449}
  :compiler-options {:externs ["datascript/externs.js"]}
  :builds
  {:frontend
   {:target :browser
    :modules {:main {:init-fn evolver.core/main}}}
                     ;; :preloads [evolver.dev-preload] ; ARCHIVED: see .archived/dev_preload.cljs}
   :test
   {:target :node-test
    :output-to "out/tests.js"
    :ns-regexp "-test$"
    :ns-exclude-regexp "browser-ui"}}}