#kaocha/v1
{:tests [{:id :unit
          :type :kaocha.type/cljs2
          :test-paths ["test"]
          :ns-exclude-regexp "browser-ui"
          :cljs/compiler-options {:output-to "out/tests.js"
                                  :target :node-test}}]

 :plugins [:kaocha.plugin/profiling    ;; Show slow tests
           :kaocha.plugin/notifier      ;; Desktop notifications
           :kaocha.plugin/hooks]        ;; Custom lifecycle hooks

 :kaocha.plugin.profiling/count 10

 ;; Custom reporter for structured output
 :kaocha/reporter [kaocha.report/documentation]}
