[
 plugins.selection
 plugins.editing
 plugins.clipboard
 plugins.navigation
 plugins.structural
 plugins.folding
 plugins.context-editing
 plugins.text-formatting
 plugins.visible-order
 plugins.pages
]
